/.ipynb_checkpoints/Tensors-checkpoint.ipynb
/.ipynb_checkpoints/1D-Tensors-checkpoint.ipynb
/.ipynb_checkpoints/2D-Tensors-checkpoint.ipynb
/.ipynb_checkpoints/Differentiation-checkpoint.ipynb
/.ipynb_checkpoints/Simple-Dataset-checkpoint.ipynb
